/* HISTORY */
.history-list {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0px;
}

.history-item {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.history-item span {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    text-overflow: ellipsis;

}

.pending {
    color: green;
}

.completed {
    color: red;
}