* {
    font-family: sans-serif;
}

body {
    text-align: center;
    height: 100%;
}

.main-container {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

button {
    width: 150px;
    margin: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

input {
    width: 300px;
    align-self: center;
}

.dark-mode {
    background-color: rgb(63, 60, 60);
    color: white
}